body {
    background: #2f2f2f;
}

article {
    width: 80%;
    margin: 0 auto;
    padding: 50px 50px;
    background: snow;
    color: #2f2f2f;
    background-color: #f9f7f1;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 72px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 10px;
    margin-top: 0;
    margin-bottom: 20px;
}

h1 span {
    font-family: 'Playball', cursive;
    font-size: 60px;
    text-transform: lowercase;
    position: relative;
    top: -15px
}

.meta {
    border-top: 1px solid #333;
    text-align: center;
}

.meta h2 {
    display: inline-block;
    margin: 0;
    padding: 0 20px;
    background: #f9f7f1;
    position: relative;
    top: -12px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

header {
    margin-bottom: 25px;
}

section .columns {
    -moz-column-count: 3;
    /* Firefox */
    -webkit-column-count: 3;
    /* Safari and Chrome */
    column-count: 3;
}

.columns p {
    font-size: 18px;
    margin: 0 0 10px 0;
    text-indent: 10px;
}

strong {
    margin: 0;
}

blockquote {
    -moz-column-span: all;
    -webkit-column-span: all;
    column-span: all;
    font-family: 'Playball', cursive;
    font-size: 32px;
    font-weight: normal;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    padding: 15px 0;
}

.table-small {
    margin-bottom: 30px;
}

.td-newspaper {
    width: 20%;
    padding: 20px;
    vertical-align: top;
    text-align: justify;
}

.headline-leg {
    font-weight: bold;
    font-style: italic;
    font-size: 26px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    text-align: center;
    line-height: normal;
    display: block;
    margin: 0 auto;
}

.headline-under {
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    text-align: center;
    line-height: normal;
    display: block;
    margin: 0 auto
}

.headline-leg+.headline-under {
    border-bottom: 1px solid rgba(47, 47, 47, .3);
    border-top: 1px solid rgba(47, 47, 47, .3);
}

.padding-top-10 {
    padding-top: 10px;
}

.width-fill {
    width: 70%;
    margin: auto;
    display: block;
    padding: 10px 0px;
}

.subhead h2 {
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;
    font-size: 14px;
    text-align: center;
}

td+td {
    border-left: 1px solid rgba(47, 47, 47, .2);
}

strong{
    font-weight: bold;
}

.hover-hulk{
    position: relative;
    display: inline-block;
}

.hover-hulk .hover-text{
    visibility: hidden;
    width: 284px;
    background-color: forestgreen;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius:  6px;
    position: absolute;
    z-index: 1;
     font-family: 'Playfair Display', serif;
     text-transform: uppercase;
    font-size: 20px;
}

.hover-hulk:hover .hover-text{
    visibility: visible;
}